* {
  margin: 0;
  padding: 0;
  max-width: 960px;
}

header {
  background-color: #858888;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

body {
  color: rgb(179, 171, 171);
  background-color: #000000;
  font-size: 16px;
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.banner {
  width: 100%;
  position: relative;
}

.hero_banner_box {
  display: grid;
}

.button {
  position: absolute;
  top: 25px;
  left: 25px;
  background: radial-gradient(#a1a1f1, #c4dfe6);
  border: 1px solid #000000;
  padding: 2rem;
  opacity: 0.7;
  color: azure;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 200px;
  padding: 10px;
}

.title1h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
}

.image1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.title2h2 {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
}

.image2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.title3h2 {
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 10px;
}

.p3 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.p1,
.p2,
.p3 {
  justify-content: center;
}

h1 {
  color: rgb(197, 255, 236);
}

h2 {
  color: rgb(255, 255, 255);
}

footer {
  color: azure;
  background-color: #858888;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  font-size: large;
  color: rgb(240, 255, 255);
  margin: 1rem 1rem 1rem 1rem;
  border: 2px solid blanchedalmond;
  padding: 1px;
}

a {
  color: rgb(56, 53, 218);
}

.page {
  max-width: 960px;
  margin: 1rem auto;
  margin: 1rem 1rem 1rem 1rem;
  border: 3px solid #000000;
  padding: 1px;
  align-items: center;
  align-self: center;
  align-content: center;
}
