* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #858888;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  border: 3px solid #c3c5c98e;
  margin-bottom: 25px;
}

.logo1 {
  grid-column: 1/2;
  justify-self: center;
}

body {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  margin-inline-start: 15px;
  float: left;
  align-items: center;
  padding: 5px;
}

ul {
  list-style-type: none;
}

nav {
  padding: 5px;
  flex: 1 1 auto;
}

li {
  float: left;
  align-items: center;
  padding: 5px;
}

main {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 1fr 1fr 200px;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  padding: 20px;
  max-width: 900px;
  margin: 1rem auto;
  background-color: rgba(216, 216, 216, 0.75);
}

.banner {
  width: 100%;
  position: relative;
  grid-row: 1/2;
  grid-column: 1/3;
}

.hero_banner_box {
  display: grid;
  box-shadow: 1rem 1rem 1rem #858888;
  margin-top: 25px;
  margin-bottom: 25px;
}

.button {
  position: absolute;
  top: 45px;
  left: 85px;
  background: radial-gradient(#a1a1f1, #c4dfe6);
  border: 1px solid #000000;
  padding: 2rem;
  opacity: 0.7;
  color: azure;
}

.title1h2 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 10px;
}

.image1 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 20px;
  box-shadow: 1rem 1rem 1rem #858888;
}

.title2h2 {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 10px;
}

.image2 {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 20px;
  box-shadow: 1rem 1rem 1rem #858888;
}

.title3h2 {
  grid-column: 1/3;
  grid-row: 4/5;
  padding: 10px;
}

.p3 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.p1,
.p2,
.p3 {
  justify-content: center;
}

h1 {
  color: rgb(0, 0, 0);
  justify-content: center;
  margin-left: 2rem;
  grid-column: 3/4;
}

h2 {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

footer {
  color: azure;
  background-color: #858888;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  font-size: large;
  color: rgb(240, 255, 255);
  margin: 1rem 1rem 1rem 1rem;
  border: 3px solid #c3c5c98e;
}

.logo2 {
  justify-self: center;
}

address {
  justify-self: center;
}

.media {
  justify-self: center;
}

a {
  color: rgb(56, 53, 218);
  justify-content: center;
}

a:hover {
  color: #ffffff;
}

.text {
  list-style-type: none;
  text-align: center;
}

.info {
  text-align: center;
  background-color: rgba(216, 216, 216, 0.5);
  border: 2px solid #858888;
  color: #000000;
  padding: 15px;
  grid-row: 4/5;
}

.pricing {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  list-style-type: none;
  background-color: rgba(216, 216, 216, 0.5);
  border: 2px solid #858888;
  color: #000000;
}

.list2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

.grid2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px 100px 200px;
  gap: 50px;
  padding: 30px;
  font-family: "Cinzel", serif;
  font-weight: 400;
}

.banner1 {
  grid-row: 1/2;
  grid-column: 2/3;
  box-shadow: 0 0 0.5rem rgb(229, 229, 243);
}

.textbox {
  padding: 20px;
  background-color: rgba(216, 216, 216, 0.5);
  border: 2px solid #858888;
}

.titleb {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.dates {
  border: 2px solid #858888;
  grid-column: 1/2;
  grid-row: 1/5;
  padding: 10px;
  font-size: large;
  height: 100%;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(216, 216, 216, 0.5);
  color: #000000;
}

.page,
.page2,
.page3 {
  background: url("swanvly2.jpg");
  padding: 5px;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: rgb(216, 216, 216);
  box-shadow: 1rem 1rem 1rem #858888;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1/5;
  grid-row: 1/2;
}

.body3 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 150px 1fr;
  font-family: "Martel", serif;
}

.pic1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.pic2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.pic3 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.pic4 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.text3 {
  grid-column: 1/5;
  grid-row: 3/4;
  padding: 20px;
  color: #000000;
}
